h2 {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-family: 'amertak bolder';
    color: #ffffff;
}
h2 strong {
    background: none;
    color: var(--danger);
}
.about-container {
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    width: 95%;
    max-width: 460px;
}
p strong {
    background-image: var(--lngrad);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    background-position: 150%;
}
.about p a {
    color: #00a6ff;
    text-decoration: underline;
}
.about {
    position: relative;
    margin: auto;
    text-align: center;
    justify-content: start, left;
}
.about p {
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}